body,html{
    height: 100%;
    margin: 0;
}

.bg{
    background-image: url("./imagens/Taverna.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
}

body{
text-align: center;
}

main{
    display: inline-block;
    margin-top: 5%;
    position: relative;
}
.inventario{
    width: 50%;
    transform: translate(-50%);
    max-width: 1200px;
}
.mochila{
    position: absolute;
    transform: translate(-1267%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s01{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1267%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s01:active::after{
    content: ' Un: 1';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s01:active{
  background-image: url(./imagens/mochila.jpg);
  height: 104%;
  width: 42.2%;
  transform: translate(-40%,1%);
}
.besta{
    position: absolute;
    transform: translate(-1160%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s02{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1160%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s02:active::after{
    content: ' Un: 1';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s02:active{
    background-image: url(./imagens/besta.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%);
}
.virotes{
    position: absolute;
    transform: translate(-1052.7%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s03{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1052.7%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s03:active::after{
    content: ' Un: 20';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s03:active{
    background-image: url(./imagens/Virotes.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%);
}
.cristal{
    position: absolute;
    transform: translate(-944.7%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s04{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-944.7%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s04:active::after{
    content: ' Un: 1';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s04:active{
    background-image: url(./imagens/cristal.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%);
}
.saco_de_dormir{
    position: absolute;
    transform: translate(-838%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s05{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-838%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s05:active::after{
    content: ' Un: 1';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s05:active{
    background-image: url(./imagens/saco\ de\ dormir.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%);
}
.Kit_de_refeiçao{
    position: absolute;
    transform: translate(-730%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s06{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-730%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s06:active::after{
    content: ' Un: 1';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s06:active{
    background-image: url(./imagens/kit\ de\ refeição.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%);
}
.caixa_de_fogo{
    position: absolute;
    transform: translate(-623%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s07{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-623%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s07:active::after{
    content: ' Un: 1';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s07:active{
    background-image: url(./imagens/caixa\ de\ fogo.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%);
}
.tocha{
    position: absolute;
    transform: translate(-1267%,248.5%);
    width: 5.7%;
    height: 14.6%;
}
.s08{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1267%,248.5%);
    background-color: rgb(0,0,0,0);
}
.s08:active::after{
    content: ' Un: 10';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s08:active{
    background-image: url(./imagens/tocha.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%);
}
.raçao{
    position: absolute;
    transform: translate(-1160%,248.5%);
    width: 5.7%;
    height: 14.6%;
}
.s09{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1160%,248.5%);
    background-color: rgb(0,0,0,0);
}
.s09:active::after{
    content: ' Un: 10';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s09:active{
    background-image: url(./imagens/Raçao.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%);
}
.cantil{
    position: absolute;
    transform: translate(-1052.7%,248.5%);
    width: 5.7%;
    height: 14.6%;
}
.s10{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1052.7%,248.5%);
    background-color: rgb(0,0,0,0);
}
.s10:active::after{
    content: ' Un: 1';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s10:active{
    background-image: url(./imagens/cantil.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%);
}
.corda{
    position: absolute;
    transform: translate(-944.7%,248.5%);
    width: 5.7%;
    height: 14.6%;
}
.s11{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-944.7%,248.5%);
    background-color: rgb(0,0,0,0);
}
.s11:active::after{
    content: ' Un: 15 m';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s11:active{
    background-image: url(./imagens/corda.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%);
}
.anotaçoes{
    position: absolute;
    transform: translate(-838%,248.5%);
    width: 5.7%;
    height: 14.6%;
}
.s12{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-838%,248.5%);
    background-color: rgb(0,0,0,0);
}
.s12:active::after{
    content: ' Un: 1';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s12:active{
    background-image: url(./imagens/anotaçoes.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%);
}
.coberto{
    position: absolute;
    transform: translate(-730%,248.5%);
    width: 5.7%;
    height: 14.6%;
}
.s13{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-730%,248.5%);
    background-color: rgb(0,0,0,0);
}
.s13:active::after{
    content: ' Un: 1';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s13:active{
    background-image: url(./imagens/coberto.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%);
}
.Kit_de_herbalismo{
    position: absolute;
    transform: translate(-623%,248.5%);
    width: 5.7%;
    height: 14.6%;
}
.s14{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-623%,248.5%);
    background-color: rgb(0,0,0,0);
}
.s14:active::after{
    content: ' Un: 1';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s14:active{
    background-image: url(./imagens/Kit\ de\ herbalismo.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%);
}
.roupa{
    position: absolute;
    transform: translate(-1267%,355%);
    width: 5.7%;
    height: 14.6%;
}
.s15{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1267%,355%);
    background-color: rgb(0,0,0,0);
}
.s15:active::after{
    content: ' Un: 1';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s15:active{
    background-image: url(./imagens/roupas.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%); 
}
.po{
    position: absolute;
    transform: translate(-623%,570%);
    width: 5.7%;
    height: 14.6%;
}
.s31{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-623%,570%);
    background-color: rgb(0,0,0,0);
}
.s31:active::after{
    content: ' Un: 5';
    position:relative;
        height:420px;
        width:500px;      
        float:left;
        text-align:left;
        text-indent:-355px;
        font-family:fantasy;
        font-size: 20px;
}
.s31:active{
    background-image: url(./imagens/Peça\ de\ Ouro.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%); 
}
.f{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1045%,25%);
    background-color: rgb(0,0,0,0);
    border-color: rgb(0,0,0,0);
}
.g{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-940%,25%);
    background-color: rgb(0,0,0,0);
    border-color: rgb(0,0,0,0);
}