body,html{
    height: 100%;
    margin: 0;
}

.bg{
    background-image: url("./imagens/Taverna.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
}

body{
text-align: center;
}

main{
    display: inline-block;
    margin-top: 5%;
    position: relative;
}
.inventario{
    width: 50%;
    transform: translate(-50%);
    max-width: 1200px;
}
.mochila{
    position: absolute;
    transform: translate(-1267%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s01{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1267%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s01:active{
  background-image: url(./imagens/mochila.jpg);
  height: 104%;
  width: 42.2%;
  transform: translate(-40%,1%);
}
.besta{
    position: absolute;
    transform: translate(-1160%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s02{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1160%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s02:active{
    background-image: url(./imagens/besta.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%);
}
.virotes{
    position: absolute;
    transform: translate(-1052.7%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s03{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1052.7%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s03:active{
    background-image: url(./imagens/Virotes.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,1%);
}



