body,html{
    height: 100%;
    margin: 0;
}

.bg{
    background-image: url("./imagens/Taverna.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
}

body{
text-align: center;
}

main{
    display: inline-block;
    margin-top: 5%;
    position: relative;
}
.inventario{
    width: 50%;
    transform: translate(-50%);
    max-width: 1200px;
}
.D{
    position:absolute;
    width: 50%;
    height: 71%;
    transform: translate(-41.5%,80%);
}
.mochila{
    position: absolute;
    transform: translate(-1267%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s01{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1267%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s01:active::before{
    content: 'Equipamento que uso para carregar minhas coisas';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s01:active::after{
    content: ' Un: 1';
    position:relative;
    width:100%;
    height:-156%;
    top: -84%;      
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s01:active{
  background-image: url(./imagens/mochila.jpg);
  height: 104%;
  width: 42.2%;
  transform: translate(-40%,-13%);
  background-repeat: no-repeat;
}
.besta{
    position: absolute;
    transform: translate(-1160%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s02{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1160%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s02:active::before{
    content: 'Arma de longo alcance, uma excelente opção quando minhas habilidades magicas acabam';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s02:active::after{
    content: ' Un: 1';
    position:relative;
    width:100%; 
    height:-156%;
    top: -87%;        
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s02:active{
    background-image: url(./imagens/besta.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,-13%);
}
.virotes{
    position: absolute;
    transform: translate(-1052.7%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s03{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1052.7%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s03:active::before{
    content: 'Projeteis usados na Besta Leve';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s03:active::after{
    content: ' Un: 20';
    position:relative;
    width:100%; 
    height:-156%;
    top: -84%;      
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s03:active{
    background-image: url(./imagens/Virotes.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,-13%);
}
.cristal{
    position: absolute;
    transform: translate(-944.7%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s04{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-944.7%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s04:active::before{
    content: 'Cristal magico acoplado em minha manopla, povavelmento que faz ela conseguir conjurar magias';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s04:active::after{
    content: ' Un: 1';
    position:relative;
    width:100%; 
    height:-156%;
    top: -87%;      
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s04:active{
    background-image: url(./imagens/cristal.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,-13%);
}
.saco_de_dormir{
    position: absolute;
    transform: translate(-838%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s05{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-838%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s05:active::before{
    content: 'Cama portatil que uso para dormir em minhas viagens';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s05:active::after{
    content: ' Un: 1';
    position:relative;
    width:100%;
    height:-156%;
    top: -84%;       
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s05:active{
    background-image: url(./imagens/saco\ de\ dormir.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,-13%);
}
.Kit_de_refeiçao{
    position: absolute;
    transform: translate(-730%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s06{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-730%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s06:active::before{
    content: 'Utensílios que uso para me auciliar a comer';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s06:active::after{
    content: ' Un: 1';
    position:relative;
    width:100%;   
    height:-156%;
    top: -84%;    
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s06:active{
    background-image: url(./imagens/kit\ de\ refeição.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,-13%);
}
.caixa_de_fogo{
    position: absolute;
    transform: translate(-623%,141.5%);
    width: 5.7%;
    height: 14.6%;
}
.s07{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-623%,141.5%);
    background-color: rgb(0,0,0,0);
}
.s07:active::before{
    content: 'Utensílios que me ajudão a criar fogo para diversar ocasiões ';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s07:active::after{
    content: ' Un: 1';
    position:relative;
    width:100%; 
    height:-156%;
    top: -87%;       
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s07:active{
    background-image: url(./imagens/caixa\ de\ fogo.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,-13%);
}
.tocha{
    position: absolute;
    transform: translate(-1267%,248.5%);
    width: 5.7%;
    height: 14.6%;
}
.s08{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1267%,248.5%);
    background-color: rgb(0,0,0,0);
}
.s08:active::before{
    content: 'Equipamento que uso para ajudar a enchergar em lugares escuros e de baixa visibilidade';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s08:active::after{
    content: ' Un: 10';
    position:relative;
    width:100%;  
    height:-156%;
    top: -87%;       
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s08:active{
    background-image: url(./imagens/tocha.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,-13%);
}
.raçao{
    position: absolute;
    transform: translate(-1160%,248.5%);
    width: 5.7%;
    height: 14.6%;
}
.s09{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1160%,248.5%);
    background-color: rgb(0,0,0,0);
}
.s09:active::before{
    content: 'Alimento para repor as energias, ninguem e de ferro kk';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s09:active::after{
    content: ' Un: 10';
    position:relative;
    width:100%; 
    height:-156%;
    top: -84%;      
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s09:active{
    background-image: url(./imagens/Raçao.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,-13%);
}
.cantil{
    position: absolute;
    transform: translate(-1052.7%,248.5%);
    width: 5.7%;
    height: 14.6%;
}
.s10{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1052.7%,248.5%);
    background-color: rgb(0,0,0,0);
}
.s10:active::before{
    content: 'Usado para armasenar liquidos, de preferencia agua';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s10:active::after{
    content: ' Un: 1';
    position:relative;
    width:100%; 
    height:-156%;
    top: -84%;       
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s10:active{
    background-image: url(./imagens/cantil.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,-13%);
}
.corda{
    position: absolute;
    transform: translate(-944.7%,248.5%);
    width: 5.7%;
    height: 14.6%;
}
.s11{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-944.7%,248.5%);
    background-color: rgb(0,0,0,0);
}
.s11:active::before{
    content: 'Pode me ser utiu no futuro';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s11:active::after{
    content: ' Un: 15 m';
    position:relative;
    width:100%; 
    height:-156%;
    top: -84%;       
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s11:active{
    background-image: url(./imagens/corda.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,-13%);
}
.anotaçoes{
    position: absolute;
    transform: translate(-838%,248.5%);
    width: 5.7%;
    height: 14.6%;
}
.s12{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-838%,248.5%);
    background-color: rgb(0,0,0,0);
}
.s12:active::before{
    content: 'Livro que uso para anotar minhas magias e truques, posso acessar clicando no osso';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s12:active::after{
    content: ' Un: 1';
    position:relative;
    width:100%;
    height:-156%;
    top: -87%;         
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s12:active{
    background-image: url(./imagens/anotaçoes.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,-13%);
}
.coberto{
    position: absolute;
    transform: translate(-730%,248.5%);
    width: 5.7%;
    height: 14.6%;
}
.s13{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-730%,248.5%);
    background-color: rgb(0,0,0,0);
}
.s13:active::before{
    content: 'Para me manter quentinho enquanto eu durmo';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s13:active::after{
    content: ' Un: 1';
    position:relative;
    width:100%;  
    height:-156%;
    top: -84%;     
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s13:active{
    background-image: url(./imagens/coberto.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,-13%);
}
.Kit_de_herbalismo{
    position: absolute;
    transform: translate(-623%,248.5%);
    width: 5.7%;
    height: 14.6%;
}
.s14{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-623%,248.5%);
    background-color: rgb(0,0,0,0);
}
.s14:active::before{
    content: 'Esse kit contém uma variedade de instrumentos, como alicates, almofariz e pilão, e bolsas e frascos utilizados pelos herbalistas para criar remédios e poções. Proficiência com este kit permite adicionar o bônus de proficiência para quaisquer testes de habilidade que você fizer para identificar ou aplicar ervas. Além disso, a proficiência com esse kit é necessária para criar antídotos e poções de cura.';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: 13px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s14:active::after{
    content: ' Un: 1';
    position:relative;
    height:-156%;
    top: -109%;
    width:100%;       
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s14:active{
    background-image: url(./imagens/Kit\ de\ herbalismo.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,-13%);
    background-repeat: no-repeat;
}
.roupa{
    position: absolute;
    transform: translate(-1267%,355%);
    width: 5.7%;
    height: 14.6%;
}
.s15{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1267%,355%);
    background-color: rgb(0,0,0,0);
}
.s15:active::before{
    content: 'Não e muito confortavel andar pelado por ai';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s15:active::after{
    content: ' Un: 1';
    position:relative;
    width:100%; 
    height:-156%;
    top: -84%;         
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s15:active{
    background-image: url(./imagens/roupas.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,-13%); 
}
.po{
    position: absolute;
    transform: translate(-623%,570%);
    width: 5.7%;
    height: 14.6%;
}
.s31{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-623%,570%);
    background-color: rgb(0,0,0,0);
}
.s31:active::before{
    content: 'Valioso em muito lugares , e o que move o mundo';
    position:relative;
    margin-top: 101%;      
    float:left;
    text-align:left;
    font-family:fantasy;
    font-size: px;
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.s31:active::after{
    content: ' Un: 5';
    position:relative;
    width:100%;
    height:-156%;
    top: -84%;          
    float:left;
    text-align:left;
    text-indent:-335px;
    font-family:fantasy;
    font-size: 20px;
}
.s31:active{
    background-image: url(./imagens/Peça\ de\ Ouro.jpg);
    height: 104%;
    width: 42.2%;
    transform: translate(-40%,-13%); 
}
.f{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-1045%,25%);
    background-color: rgb(0,0,0,0);
    border-color: rgb(0,0,0,0);
}
.g{
    position: absolute;
    height: 14.6%;
    width: 5.7%;
    transform: translate(-940%,25%);
    background-color: rgb(0,0,0,0);
    border-color: rgb(0,0,0,0);
}
.n{
    position: absolute;
    left: 89.5%;
    top: 114%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}